.about{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(21rem,auto));
    align-items: center;
    gap: 1.5rem;

}

.about-text span{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--green-color);
}

.about-text p{
    margin: 0.5rem 0 1rem;
    
}

.about img{
    width: 80%;
}