@media(max-width:1080px) {
    header{
        padding: 18px 60px;
    }

    .home-text{
        padding: 0 100px;
    }

    .container img{
        right: 100px;
    }
}

@media(max-width:991px) {
    header{
        padding: 18px 4%;
    }

    section{
        padding: 50px 4%;
    }

    .home-text h1{
        font-size: 2rem;
    }

    .home-text{
        padding: 0 5%;
    }

    .swiper-button-next,
    .swiper-button-prev{
        margin: 0;
    }
}

@media(max-width:852px) {
    header{
        padding: 12px 4%;
    }

    #menu-icon{
        display: initial;
    }

    .navbar{
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        box-shadow: 4px 4px 0 4px rgb(14 55 54 /15%);
        transition: 0.2s all linear;
        text-align: left;
    }
    .navbar a{
        padding: 1rem;
        margin: 1rem;
        display: block;
    }

    .navbar a:hover,.navbar .home-active{
        border-radius: 00.5rem;
        color: var(--bg-color);
    }

    .navbar.active{
        top: 100%;
    }

    .home-text h1{
        font-size: 1.7rem;
    }

    .container img{
        width: 390px;
    }

    .btn{
        padding: 0.6rem 1.2rem;
    }

    .products-container{
        grid-template-columns: repeat(auto-fit,minmax(244px,auto));
    }

}

@media(max-width:712px){
    .container img{
        right: 20px;
    }
    .heading h1{
        font-size: 1.2rem;
    }
    .about{
        grid-template-columns: repeat(auto-fit,minmax(20rem,auto));
    }
    .about img{
        order: 2;
    }
    .about-text{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .btn{
        max-width: 164px;
    }
    .customers h2{
        font-size: 1.2rem;
    }
} 

@media(max-width:642px){
    .container img{
        right: 0;
        width: 350px;
    }

    .home-text {
        font-size: 1rem;
        margin-top: 30px;
    }

    .home-text h1{
        font-size: 0.8;
    }
    
}



@media(max-width:546px){
    .container img{
        right: 0;
        width: 280px;
        height: 465px;
        object-fit: contain;
        border-radius: 0;
        margin-right: 20%;
    }
}

@media(max-width:370px){
    .logo{
        font-size: 1rem;
    }

    .container img{
        width: 250px;
        margin-left: 0;
        margin-right: 0;
    }

    .profile img{
        width: 30px;
        height: 30px;
    }

    .profile span{
        font-size: 10px;
    }

    .home-text{
        padding-bottom: 17rem;
    }

    .home-text span{ 
        padding-bottom: 0.8rem;
    }

    .home-text h1{ 
        padding-bottom: 1.4rem;
    }

    .heading{
        flex-direction: column;
        text-align: center;
    }

    .heading .btn{
        margin-top: 1rem;
    }

    .categories-container{
        gap: 1.5rem;
    }
}


