/* personalizar a barra de scroll*/
::-webkit-scrollbar{
    width: 0.5rem;
    background: var(--light-green-color);
}

::-webkit-scrollbar-thumb{
    width: 0.5rem;
    background: var(--green-color);
    border-radius: 5rem;
}